### Scraping datasets of Data Science Job Profiles

In [2]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from selenium import webdriver
import time

In [3]:
url = "https://www.naukri.com/data-science-jobs?k=data%20science"
r = requests.get(url)

# # converting to a bs obj
# soup = bs(r.content)

# # uncomment the code below to see the HTML content that we stored in soup
# contents = soup.prettify()
# print(contents)

In [4]:
driver = webdriver.Chrome(".\\chromedriver.exe")
driver.get(url)
time.sleep(3)
soup = bs(driver.page_source, 'html5lib')
## uncomment line below to see the data
# print(soup.prettify())
driver.close()

In [8]:
df=pd.DataFrame(columns=['Title','Company','City'])

In [9]:
results = soup.find(class_ = 'title fw500 ellipsis')
## uncomment line below to see the data
# print(results.prettify())

In [10]:
job_elems = soup.find_all('article', class_ = 'jobTuple bgWhite br4 mb-8')
## uncomment line below to see the data
# job_elems

In [11]:
for job_elem in job_elems:
    
    
    jTitle = job_elem.find('a', class_ = 'title fw500 ellipsis')
    jTitle = jTitle.text
    print(jTitle)
    
    
    jCompany = job_elem.find('a', class_ = 'subTitle ellipsis fleft')
    jCompany = jCompany.text
    print(jCompany)
    
    
    jCity = job_elem.find('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    jCity = jCity.text
    print(jCity)
    
    print("\n")
    
    df = df.append({'Title': jTitle, 'Company':jCompany, 'City':jCity}, ignore_index=True)

Data Science Intern - DataTrained
Data Trained Education
Noida, Bangalore/Bengaluru, Delhi / NCR


Machine Learning & Automation Expert - Data Science
GENPACT India Private Limited
Gurgaon/Gurugram, Bangalore/Bengaluru


Data Science - Intern
Mindworksglobal
New Delhi


Data Science Lead - Marketing Analytics
AugmatrixGo
Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram


Data science Managers - Immediate Joiners
Virtusa Consulting Services Pvt Ltd
Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru


Data science/Machine Learning trainer_Part time_Anywhere in india
Synergistic Compusoft Private Limited
Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)


Team Lead/ Sr. Scientist- Analytics & Data Science
Global Analytics India Pvt. Ltd
Chennai, Delhi / NCR


Data Science Fresher
Myna Solutions
Hyderabad/Secunderabad


Mentor - Data Analyst/Data Science
MarketScope
Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru, Delhi / NCR


Professional 2 Data Sciences
DXC Technology
Gurgaon/Gurugram


Senior Software Engineer - Data Science
TO THE NEW Private Limited
Noida


Manager - Data Science
HOME CREDIT INDIA FINANCE PRIVATE LIMITED
Gurgaon/Gurugram


Associate Professional Data Sciences
DXC Technology
Bangalore/Bengaluru


Urgent req - Data science & Web dev.Trainer / faculty ; exp - 0-4yrs
ITVEDANT EDUCATION PRIVATE LIMITED
Thane, Navi Mumbai, Mumbai (All Areas)


Cluster Manager - Data Science & Engineering Unit
Bajaj Finserv
Pune


Data Science
Capgemini Technology Services India Limited
Mumbai


Associate Director - Data Science
Nagarro Software Pvt. Ltd
Noida, Gurgaon/Gurugram, Delhi / NCR


Associate Director - Data Science
Nagarro Software Pvt. Ltd
Noida, Gurgaon/Gurugram, Delhi / NCR


Data Science Trainee
QuickXpert Infotech
Kolkata, Thane, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)


Data Science Intern
DataTrained
Noida, Bangalore/Bengaluru

In [12]:
df.columns

Index(['Title', 'Company', 'City'], dtype='object')

In [13]:
df.head(21)

,Title,Company,City
0,Data Science Intern - DataTrained,Data Trained Education,"Noida, Bangalore/Bengaluru, Delhi / NCR"
1,Machine Learning & Automation Expert - Data Sc...,GENPACT India Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Data Science - Intern,Mindworksglobal,New Delhi
3,Data Science Lead - Marketing Analytics,AugmatrixGo,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram"
4,Data science Managers - Immediate Joiners,Virtusa Consulting Services Pvt Ltd,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
5,Data science/Machine Learning trainer_Part tim...,Synergistic Compusoft Private Limited,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
6,Team Lead/ Sr. Scientist- Analytics & Data Sci...,Global Analytics India Pvt. Ltd,"Chennai, Delhi / NCR"
7,Data Science Fresher,Myna Solutions,Hyderabad/Secunderabad
8,Mentor - Data Analyst/Data Science,MarketScope,"Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu..."
9,Professional 2 Data Sciences,DXC Technology,Gurgaon/Gurugram
10,Senior Software Engineer - Data Science,TO THE NEW Private Limited,Noida
11,Manager - Data Science,HOME CREDIT INDIA FINANCE PRIVATE LIMITED,Gurgaon/Gurugram
12,Associate Professional Data Sciences,DXC Technology,Bangalore/Bengaluru
13,Urgent req - Data science & Web dev.Trainer / ...,ITVEDANT EDUCATION PRIVATE LIMITED,"Thane, Navi Mumbai, Mumbai (All Areas)"
14,Cluster Manager - Data Science & Engineering Unit,Bajaj Finserv,Pune
15,Data Science,Capgemini Technology Services India Limited,Mumbai
16,Associate Director - Data Science,Nagarro Software Pvt. Ltd,"Noida, Gurgaon/Gurugram, Delhi / NCR"
17,Associate Director - Data Science,Nagarro Software Pvt. Ltd,"Noida, Gurgaon/Gurugram, Delhi / NCR"
18,Data Science Trainee,QuickXpert Infotech,"Kolkata, Thane, Hyderabad/Secunderabad, Pune, ..."
19,Data Science Intern,DataTrained,"Noida, Bangalore/Bengaluru"

###### Uncomment the line below and run the cell to make a csv file ( data.csv ) and write the data-frame above

In [14]:
# df.to_csv('data.csv', encoding='utf-8', index_label='Sr. No')