### Scraping datasets of Data Science Job Profiles

In [24]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from selenium import webdriver
import time

In [25]:
url = "https://www.naukri.com/data-science-jobs-1"
r = requests.get(url)

# # converting to a bs obj
# soup = bs(r.content)

# # uncomment the code below to see the HTML content that we stored in soup
# contents = soup.prettify()
# print(contents)

In [26]:
driver = webdriver.Chrome(".\\chromedriver.exe")
driver.get(url)
time.sleep(3)
soup = bs(driver.page_source, 'html5lib')
## uncomment line below to see the data
# print(soup.prettify())
driver.close()

In [82]:
df=pd.DataFrame(columns=['Title', 'Rating','Company','City'])

In [83]:
results = soup.find(class_ = 'title fw500 ellipsis')
## uncomment line below to see the data
#print(results.prettify())

In [84]:
job_elems = soup.find_all('article', class_ = 'jobTuple bgWhite br4 mb-8')
## uncomment line below to see the data
# job_elems

In [92]:
for job_elem in job_elems:
    
    
    jTitle = job_elem.find('a', class_ = 'title fw500 ellipsis')
    jTitle = jTitle.text
    print(jTitle)
    
    jRate = job_elem.find('span', class_ = 'starRating fleft dot')
    if jRate is None:
        continue
    else:
        jRate = jRate.text
        jrate = float(jRate)
    
    print(jRate)
    
    
    jCompany = job_elem.find('a', class_ = 'subTitle ellipsis fleft')
    jCompany = jCompany.text
    print(jCompany)
    
    
    jCity = job_elem.find('li', class_ = 'fleft grey-text br2 placeHolderLi location')
    jCity = jCity.text
    if jCity == "Bangalore/Bengaluru":
        jCity = "Bangalore"
    elif jCity == "Gurgaon/Gurugram":
        jCity = "Gurgaon"
    elif jCity == "Hyderabad/Secunderabad":
        jCity = "Hyderabad"
    else:
        jCity = "Multiple"    
        
    print(jCity)
    
    print("\n")
    
    df = df.append({'Title': jTitle, 'Rating':jRate, 'Company':jCompany, 'City':jCity}, ignore_index=True)

Data science Managers - Immediate Joiners
3.4
Virtusa Consulting Services Pvt Ltd
Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru


Job | Freshers - JAVA/DOT NET/DATA SCIENCE/PYTHON
Machine Learning & Automation Expert - Data Science
4.0
GENPACT India Private Limited
Gurgaon/Gurugram, Bangalore/Bengaluru


Senior Data Science Engineer
4.1
NetApp
Bangalore


Junior Data Science
Data Science/analysis Expert - Machine Learning
2.9
Catalyst
Bangalore


Data Science Internship
Trainer For Data Science and Business Analytics
Data Science - Intern
3.6
Mindworksglobal
Noida


Associate Professional Data Sciences
3.5
DXC Technology
Bangalore


Urgent req - Data science & Web dev.Trainer / faculty ; exp - 0-4yrs
Data Science Lead - Marketing Analytics
Cluster Manager - Data Science & Engineering Unit
4.1
Bajaj Finserv
Pune


Senior Project Manager - Data Science, Machine Learning and Big Data
Data Science
3.6
Capgemini Technology Services India Limited
Mumbai


Analyst/ Sr. Analyst- Data Science (2+ Years)
Senior Expert Data Science - Novartis
4.2
Novartis Healthcare Pvt. Ltd.
Hyderabad


Data Science -- Senior Project Manager
4.0
Mindtree Limited
Bangalore


Senior Project Manager -- Data Science
4.0
Mindtree Limited
Bangalore


Senior Project Manager -- Data Science
4.0
Mindtree Limited
Bangalore

In [88]:
df['City'].unique()

array(['Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
       'Gurgaon/Gurugram, Bangalore/Bengaluru', 'Bangalore/Bengaluru',
       'Noida', 'Pune', 'Mumbai', 'Hyderabad/Secunderabad'], dtype=object)

In [86]:
df.columns

Index(['Title', 'Rating', 'Company', 'City'], dtype='object')

In [87]:
df.head(21)

,Title,Rating,Company,City
0,Data science Managers - Immediate Joiners,3.4,Virtusa Consulting Services Pvt Ltd,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."
1,Machine Learning & Automation Expert - Data Sc...,4.0,GENPACT India Private Limited,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Senior Data Science Engineer,4.1,NetApp,Bangalore/Bengaluru
3,Data Science/analysis Expert - Machine Learning,2.9,Catalyst,Bangalore/Bengaluru
4,Data Science - Intern,3.6,Mindworksglobal,Noida
5,Associate Professional Data Sciences,3.5,DXC Technology,Bangalore/Bengaluru
6,Cluster Manager - Data Science & Engineering Unit,4.1,Bajaj Finserv,Pune
7,Data Science,3.6,Capgemini Technology Services India Limited,Mumbai
8,Senior Expert Data Science - Novartis,4.2,Novartis Healthcare Pvt. Ltd.,Hyderabad/Secunderabad
9,Data Science -- Senior Project Manager,4.0,Mindtree Limited,Bangalore/Bengaluru
10,Senior Project Manager -- Data Science,4.0,Mindtree Limited,Bangalore/Bengaluru
11,Senior Project Manager -- Data Science,4.0,Mindtree Limited,Bangalore/Bengaluru

###### Uncomment the line below and run the cell to make a csv file ( data.csv ) and write the data-frame above

In [23]:
# df.to_csv('n_data_3.csv', encoding='utf-8', index_label='Sr. No')